{% extends 'employee_register/base.html' %}


{% block content %}

<form action="" method="POST" autocomplete="off">
    {% csrf_token %}

    <p>{{form.fullname}}</p>
    <p>{{form.phone}}</p>
    <div class="row">
        <div class="col-md-4">
            <p>{{form.emp_code}}</p>
        </div>
        <div class="col-md-8">
            <p>{{form.position}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-database"></i> Submit</button>
        </div>
        <div class="col-md-8">
            <a href="{% url 'employee_register:employee_list' %}" class="btn btn-secondary btn-lg">
                <i class="fas fa-stream"></i> Go to the employee list
            </a>
        </div>
    </div>
</form>

{% endblock %}